flask
python-dotenv
openai
pandas
numpy
chainlit
flask-sqlalchemy
flask-bcrypt
flask-session
flask-cors
flask-migrate
deep-translator
langdetect
tavily-python
lingua-language-detector
iso639-lang
reportlab
sentence-transformers
gtts
pytz
google-search-results
langchain
faiss-cpu
pypdf