flask
python-dotenv
openai
langchain
pandas
numpy
pymongo
chainlit
flask-sqlalchemy
flask-bcrypt
flask-session
flask-cors
deep-translator
langdetect
weasyprint
tavily-python
lingua-language-detector
iso639-lang
reportlab